.section-title {
  background: white;
  z-index: z(fixed);
}

.logo {
  margin: 0 auto;

  width: 120px;
  height: 120px;

  background: url('../img/logo.png') no-repeat;
  background-size: 100%;

  @include hide-text();
}

.is-collapsed .logo {
  width: 40px;
  height: 40px;
}

.top-nav-icons {
  display: inline-block;
  > a:not(.avatar) {
    @include transition-effect($timing: .1s);

    display: block;
    width: 3em;
    height: 3em;
    margin-left: .4em;
    padding-top: 1em;

    border-radius: 50%;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.1),0 2px 10px 0 rgba(0,0,0,.1);
    outline: none;

    &:active {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }

  }
}

.avatar {
  display: inline-block;

  width: 3em;
  height: 3em;

  margin-left: .4em;

  border-radius: 50%;

  vertical-align: bottom;

  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  &:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

}
