.logo {
  margin: 0 auto;

  width: 120px;
  height: 120px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  background: url('../images/logo.png') no-repeat;
  background-size: 100%;
}
