.section-title {
  background: white;
  z-index: z(fixed);
}

.logo {
  margin: 0 auto;

  width: 120px;
  height: 120px;

  background: url('../images/logo.png') no-repeat;
  background-size: 100%;

  @include hide-text();
}

.is-collapsed .logo {
  width: 40px;
  height: 40px;
}
