@import "extends";

/*doc
#Tooltips

We use tooltipster plugin to achieve tooltips.
Refer docs here https://github.com/iamceege/tooltipster
```
<button type="button" class="btn btn-primary has-tooltip" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

<button type="button" class="btn btn-primary has-tooltip" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button>

<button type="button" class="btn btn-primary has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button>

<button type="button" class="btn btn-primary has-tooltip" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
```
*/

.black-tips {
  border-radius: 5px;
  background: rgba(black, 0.9);
  color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.black-tips .tooltipster-content {
  font-family: $open-sans;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
}
