@import "extends";
/*doc
#Switches
---------------
 - For on off states
 - Defaults to large. Optional size classes `.tgl-sm`, `.tgl-md` or `.tgl-lg`


```
<input class='tgl tgl-flat' id='cb1' type='checkbox'>
<label class='tgl-btn' for='cb1'></label>

<input class='tgl tgl-sm tgl-flat' id='cb2' type='checkbox'>
<label class='tgl-btn' for='cb2'></label>

<input class='tgl tgl-md tgl-flat' id='cb3' type='checkbox'>
<label class='tgl-btn' for='cb3'></label>

<input class='tgl tgl-lg tgl-flat' id='cb4' type='checkbox'>
<label class='tgl-btn' for='cb4'></label>

```

*/

/*doc

###Disabled states
```
<input class='tgl tgl-sm tgl-flat' id='cb2' type='checkbox' disabled>
<label class='tgl-btn' for='cb2'></label>

<input class='tgl tgl-md tgl-flat' id='cb3' type='checkbox' disabled>
<label class='tgl-btn' for='cb3'></label>

<input class='tgl tgl-lg tgl-flat' id='cb4' type='checkbox' disabled>
<label class='tgl-btn' for='cb4'></label>
```
*/

.tgl{
  display: none;
  &::selection{
    background: none;
  }
  + .tgl-btn{
    margin-bottom: 1em; //Optional
    outline: 0;
    display: block;
    width: $switch-width;
    height: $switch-width / 2;
    position: relative;
    cursor: pointer;
    &:after, &:before{
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }
    &:after{
      left: 0;
    }
    &:before{
      display: none;
    }
  }
  &:checked{
    + .tgl-btn{
      &:after{
        left: 50%;
      }
    }
  }
}
.tgl-flat{
  + .tgl-btn{
    padding: 2px;
    @include transition-effect();
    background: #fff;
    border: $switch-border solid nth($green-dark, 1);
    &:after{
      @include transition-effect();
      background: nth($green-dark, 1);
    }
  }
  &:checked{
    + .tgl-btn{
      border: $switch-border solid nth($red, 1);
      &:after{
        left: 50%;
        background: nth($red, 1);
      }
    }
  }
}


.tgl.tgl-sm + .tgl-btn {
  width: 1em;
  height: .5em;
}

.tgl.tgl-md + .tgl-btn {
  width: 2em;
  height: 1em;
}

.tgl.tgl-lg + .tgl-btn {
  width: 4em;
  height: 2em;
}

input[disabled] + .tgl-btn {
  border-color: nth($silver, 2);
  cursor: not-allowed;
  &:after {
    background: nth($silver, 2);
  }
}
