@import "atoms/colors";
@import "atoms/type";
@import "atoms/helpers/mixins";
@import "atoms/helpers/breakpoints";
@import "atoms/helpers/functions";
@import "atoms/helpers/utilities";


$total-columns: 16;

// Grid Mixins
@mixin respond-to ($bp) {
  @if map-has-key($breakpoints, $bp){
    @media (min-width: #{map-get($breakpoints, $bp)}) {
      @content;
    }
  }
  @else {
    @warn "Breakpoint not found"
  }
}

@mixin col($num) {
  width: percentage($total-columns / $num);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.row {
  width: 100%;
  @include clearfix;
}

[class*="column"] {
  float: left;
  padding-right: 0.5%;
}

.header-site {
  @extend .row;
}

.section-main {
  @extend .row;
}

.footer-site {
  @extend .row;
}

// Sidebar and content area

$sidebar-width: em-calc(150px);
$sidebar-collapsed-width: em-calc(50px);

.content-main {
  float: right;
  width: calc(100% - #{$sidebar-width});

  &.is-expanded {
    width: calc(100% - #{$sidebar-collapsed-width});
  }
}

.block {
  float: left;
  max-width: calc(100% - #{$sidebar-width});
}

.sidebar-primary {
  position: fixed;

  float: left;
  width: $sidebar-width;

  &.is-collapsed {
    width: $sidebar-collapsed-width;
  }
}

.section-content {
  margin-top: 7.5em;
}

.content-wrap {
  overflow: hidden;
}

.section-title {
  position: fixed;
  width: 100%;
  padding: 1em;
  box-shadow: 0 1px 4px 0 rgba(black, 0.2);
}

// Products page-break-inside:

.products-title {
  margin-right: 2em;
  margin-bottom: 1em;
  display: inline-block;
}
.products-title-container {
  padding: 0 1em;
  padding-bottom: 0;
}

.upload-note-container {
  margin-bottom: 1em !important; //refactor
}

.btn-product-upload {
  @extend .btn;
  @extend .btn-small;
  @extend .btn-primary;
  margin-right: 2em;
}

.handsontable {
  width: 100%;
  font-family: $open-sans;
  th, td {
    padding: 0.6em !important;
    font-size: 0.8em;
    max-width: 200px;
    min-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap !important;
  }
}

.wtHider {
  width: 100% !important;
}

.wtSpreader {
  width: 100% !important;
}

