%no-margin {
  margin: 0;
}
.product-detail-container {
  font-family: $helvetica;
}

.designer-title {
  @extend %no-margin;
  font-family: futura;
  font-size: em-calc(15px);
  font-weight: bold;
}

.designer-subtitle {
  @extend %no-margin;
  text-transform: capitalize;
  font-family: $helvetica;
  font-size: em-calc(13px);
}

.shipped {
  @extend %no-margin;
  font-family: $helvetica;
  font-size: em-calc(12px);
  font-style: italic;
  color: #666;
}

.product-price {
  @extend %no-margin;
  margin-top: em-calc(3px);
  margin-bottom: em-calc(8px);
  font-size: em-calc(18px);
}

.fixed-170 {
  float: left;
  width: 170px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0.9375rem;
  &::selection {
    background: none;
  }
}

.product-color-swatch, .product-size-swatch {
  display: inline-block;
  position: relative;
  margin-right: .5em;
  margin-bottom: .5em;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #eee;
  text-align: center;
  padding-top: .4em;
  &.selected {
    background: $black;
    color: $white;
  }
  &::selection {
    background: none;
  }
}

.product-color-swatch {
  width: auto;
  padding: 0.5em 1em 2em;
}

.size-swatch-add {
  width: auto;
  padding: 0.5em 1em 2em;
}


// Selectable
.product-collection-size {
  float: left;
  width: 9.375em;
  padding: 1em;
  margin: 0 1.25em 0.625em 0;
  background: #cfcfcf;
  color: black;
  cursor: pointer;
  text-align: center;
  &::selection {
    background: transparent;
  }
}

.product-collection-size.selected {
  background: $black;
  color: $white;
}

.product-collection-size-category {
  margin-top: 1em;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  &:first-child {
    margin-top: 0;
  }
}

// Image action buttons

.product-image-action-icons {
  transition: all 0.1s ease-in-out;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin-left: .4em;
  padding-top: .75em;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  outline: none;
}

.product-image-action-container {
  margin-bottom: 1em;
  text-align: right;
}

.product-options-section-title {
  display: inline-block;
  margin-top: .4em;
  padding-top: 0.5em;
  font-family: $futura;
  font-size: em-calc(15px);
}

.product-option-section-holder {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
  padding-bottom: .4em;
}
