.news {
  position: relative;
  cursor: pointer;

  width: 100%;
  height: auto;

  @media (min-width: 768px) {
    width: 48%;
    height: 280px;
    overflow: hidden;
    float: left;
    max-width: 300px;
  }

  @media (min-width: 1024px) {
    width: 32%;
    height: 280px;
    overflow: hidden;
    float: left;
    max-width: 300px;
  }

  border-radius: $global-radius;
  padding: 20px;
  box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.1),0px 2px 10px 0px rgba(0,0,0,0.1); // Polymer buttons
  margin-right: 1%;
  margin-bottom: 2%;


  @include transition-effect($property: (width, height));

  &:hover {
    box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.1),0px 2px 10px 0px rgba(0,0,0,0.1); //Polymer buttons
  }
}

.logo-publication {
  margin-bottom: 20px;
  margin-top: 20px;
  @media (min-width: 768px) {
    width: 100%;
    max-height: 160px;
  }
}

.news-quote {
  font-family: $open-sans;
  font-size: 1.1em;
  max-height: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  @media (min-width: 768px) {
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 20px;
  }
  text-align: left !important;
}

.press-placeholder-img {
  margin-top: 0;
  margin-bottom: 0;
}

.press-add-link {
  margin-top: .5em;
}

.press--add {
  background: $brand-secondary;
}

#press-add-image {
  display: none; //Hide the file upload default
}

.press--delete {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  outline: none;
  padding-top: 0.7em;
  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
  i {
    font-size: 1.6em;
  }
}

.press--delete-card {
  &:not(.exclude) {
    @include transition-effect($timing: 0.1s);
    &:active {
      transform: scale(0.9);
    }
  }
}
