/*doc
#Breadcrumbs
---------------

```
<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Designers</a></li>
  <li class="disabled"><a href="#">Anne Sylvain</a></li>
  <li class="active"><a href="#">Collections</a></li>
</ul>
```
*/
$breadcrumb-color: $brand-primary;

.breadcrumbs {
  display: block;
  margin: 0;
  padding: 0;

  list-style: none;

  > li {
    display: inline-block;
    font-size: 1em;
    color: $breadcrumb-color;
    > a {
      color: $breadcrumb-color;
    }
    &:after {
      content: " / ";
      display: inline-block;

      font-size: 1em;
      margin: 0 .5em;
    }
    &:last-child{
      &:after {
        content: " ";
      }
    }

    &:hover {
      text-decoration: underline;
    }
    &.disabled {
      color: nth($grey-light, 1);
      cursor: not-allowed;
      > a {
        color: nth($grey-light, 1);
        cursor: not-allowed;
      }
    }
    &.active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
