/*doc
#Button Groups
------------------

##Checkbox button group

```
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox"> Option 1
  </label>
  <label class="btn btn-primary">
    <input type="checkbox"> Option 2
  </label>
  <label class="btn btn-primary">
    <input type="checkbox"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input type="checkbox"> Option 1
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox"> Option 2
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-alert">
    <input type="checkbox"> Option 1
  </label>
  <label class="btn btn-alert">
    <input type="checkbox"> Option 2
  </label>
  <label class="btn btn-alert">
    <input type="checkbox"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-info">
    <input type="checkbox"> Option 1
  </label>
  <label class="btn btn-info">
    <input type="checkbox"> Option 2
  </label>
  <label class="btn btn-info">
    <input type="checkbox"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-success">
    <input type="checkbox"> Option 1
  </label>
  <label class="btn btn-success">
    <input type="checkbox"> Option 2
  </label>
  <label class="btn btn-success">
    <input type="checkbox"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-warning">
    <input type="checkbox"> Option 1
  </label>
  <label class="btn btn-warning">
    <input type="checkbox"> Option 2
  </label>
  <label class="btn btn-warning">
    <input type="checkbox"> Option 3
  </label>
</div>

```
*/

/*doc

##Radio button group
```
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-success active">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-success">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-success">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-alert active">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-alert">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-alert">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-info active">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-info">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-info">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-warning active">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-warning">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-warning">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>
```
*/

/*doc
###With icons

```
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1"> <i class="fa fa-align-left fa-2x"></i>
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2"> <i class="fa fa-align-center fa-2x"></i>
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3"> <i class="fa fa-align-right fa-2x"></i>
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3"> <i class="fa fa-align-justify fa-2x"></i>
  </label>
</div>
```
*/

.btn-group {
  display: inline-block;
  + .btn-group {
    margin-left: 2em;
  }
  list-style: none;
  margin-bottom: 1em;
  > .btn {
    line-height: 1.2;

    display: inline-block;
    border: 1px solid;
    margin: -0.4em; //Make them line up nicely
    // Line buttons with just an icon in them correctly
    // i {
    //   line-height: 1.6;
    //   margin-right: 0.3em;
    // }
    // Make sure double clicking doesn't add issues
    &::selection {
      background: transparent;
    }

    // Hide checkboxes and radio buttons
    input[type="checkbox"], input[type="radio"] {
      display: none;
    }

    //Add border radius to edge elements
    &:first-child {
      border-top-left-radius: $global-radius-2x;
      border-bottom-left-radius: $global-radius-2x;
    }
    &:last-child {
      border-top-right-radius: $global-radius-2x;
      border-bottom-right-radius: $global-radius-2x;
    }

    //Active indicators
    &.btn-primary.active {
      box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3) inset;
    }
    &.active {
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3) inset;
    }
  }
  //disbale button hover effects for clarity
  .btn-primary {
    &:hover {
      background: lighten($brand-primary, 10%);
    }
    &:active {
      background: darken($brand-primary, 10%);
    }
  }
  .btn-secondary {
    &:hover {
      background: lighten($brand-secondary, 10%);
    }
    &:active {
      background: darken($brand-secondary, 10%);
    }
  }
  .btn-alert {
    &:hover {
      background: lighten($brand-alert, 10%);
    }
    &:active {
      background: darken($brand-alert, 10%);
    }
  }
  .btn-success {
    &:hover {
      background: lighten($brand-success, 10%);
    }
    &:active {
      background: darken($brand-success, 10%);
    }
  }
  .btn-warning {
    &:hover {
      background: lighten($brand-warning, 10%);
    }
    &:active {
      background: darken($brand-warning, 10%);
    }
  }
  .btn-info {
    &:hover {
      background: lighten($brand-info, 10%);
    }
    &:active {
      background: darken($brand-info, 10%);
    }
  }
}

