/*doc
#Media Object
------------------

Create notifications, comments and other elements

```
<div class="messages">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object img-circle" src="http://placehold.it/45x45" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, veritatis.</span>
    </div>
  </div>
  <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/45x45" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, veritatis.</span>
    </div>
  </div>
  <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/45x45" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, veritatis.</span>
    </div>
  </div>
</div>
```
*/

.media {
  @include clearfix();
  img {
    width: 4em;
    height: 4em;
    border: 1px solid #ddd;
  }
}

.media-object {
  margin-right: 1em;
}

.media-heading {
  font-weight: 300;
}

.media-body {
  margin-bottom: 1em;
  p {
    margin: 0;
  }
}

.notifications {
  position: relative;
  padding: 3em 0;
  width: 350px;
  header {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em 1em;
    width: 100%;
    text-align: center;
    background: $white;
    border-bottom: 1px solid #eee;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    width: 100%;
    text-align: center;
    background: $white;
    border-top: 1px solid #eee;
  }
}

.unread {
  font-weight: bold;
}

.messages > li {
  padding: 1em;
  &:hover {
    background: rgba($black, .1);
  }
}
