// Used for negating margins
@mixin no-margin($direction: false) {
  @if($direction == false) {
    margin: 0;
  }
  @else {
    @each $d in $direction {
      margin-#{$d}: 0;
    }
  }
}

// Color variations to any property
@mixin paint($prop, $color) {
  #{$prop}: $color;
}

// Remove underline on links

@mixin no-dec () {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
