// Used for negating margins
@mixin no-margin($direction: false) {
  @if($direction == false) {
    margin: 0;
  }
  @else {
    @each $d in $direction {
      margin-#{$d}: 0;
    }
  }
}

// Color variations to any property
@mixin paint($prop, $color) {
  #{$prop}: $color;
}

// Remove underline on links

@mixin no-dec () {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// Standard animations for all components

$animation-properties: all;
$animation-timing: 0.3s;
$animation-easing: ease-in-out;

@mixin transition-effect($property: $animation-properties, $timing: $animation-timing, $easing: $animation-easing) {
  transition: $property $timing $easing;
}


@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
