@import "variables";

@mixin btn() {
  @include no-dec;
  @include transition-effect($timing: 0.1s);

  display: inline-block;
  border: none;
  outline: none;

  padding: 1em 1.5em;

  vertical-align: top;

  cursor: pointer;

  font-size: 0.9em;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;

  color: white;

  &:active {
    transform: scale(0.98);
  }
}

@mixin btn-sizes($button-size-variations, $size) {
  $map: map-get($button-size-variations, $size);
  .btn-#{$size} {
      @each $property, $value in $map {
        #{$property}: $value;
      }
    }
  }
